@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700&display=swap');

/*global style*/







body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}


ul[role='list'],
ol[role='list'] {
    list-style: none;
}







html:focus-within {
    scroll-behavior: smooth;
}

body {
    max-height: 500vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'poppins', sans-serif;
    background: linear-gradient(90deg, var(--grey) 31px, transparent 1px) 50%, linear-gradient(180deg, var(--gray) 31px, var(--blue) 1px) 50%;
    background-size: 32px 32px;
    color: var(--dark);
    z-index: 1000;;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduce-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --blue:#335dff;
    --gray: #f5fff5;
    --gray-d-1: #eee;
    --gray-d-2: #ddd;
    --gray-d-3: #888;
    --white: #fff;
    --dark: #222;
}



/* chat box */
.chatbox-wrapper {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
}

.chatbox-toggle {
    width: 100%;
    height: 100%;
    background: var(--blue);
    color: var(--white);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}

.chatbox-toggle:active {
    transform: scale(.9);
}

.chatbox-massage-wrapper {
    position: absolute;
    bottom: calc(100% + 1rem);
    right: 0;
    width: 420px;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: .5rem .5rem 2rem rgba( 0, 0, 0, 1);
    transform: scale(0);
    transform-origin: bottom right;
    transition: .3s;
}

.chatbox-massage-wrapper.show {
    transform: scale(1);
}

.chatbox-massage-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: .75rem 1.5rem;
}

.chatbox-massage-profile {
    display: flex;
    align-items: center;
    grid-gap: .5rem;
}

.chatbox-massage-image {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.chatbox-message.name {
    font-size: 1.125rem;
    font-weight: 600;
}

.chatbox-message-status {
    font-size: .875rem;
    color: gray;
}
.chatbox-message-dropdown {
    position: relative;
}
.chatbox-message-dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 50%;
}

.chatbox-message-dropdown-toggle:hover {
    background: gray;
}

.chatbox-message-dropdown-menu {
    list-style: none;
    margin: 0;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    padding: .5rem 0;
    width: 120px;
    box-shadow: .25rem .25rem 1.5rem rgba( 0, 0, 0, .1);
    transform: scale(0);
    transform-origin: top right;
    transition: .2s;
}

.chatbox-message-dropdown-menu.show {
    transform: scale(1);
}

.chatbox-message-dropdown-menu a { 
    font-size: .875rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
    padding: .5rem 1rem;
    display: block;
}

.chatbox-message-dropdown-menu a:hover {
    background: grey;
}

.chatbox-message-content {
    background: rgb(172, 169, 169);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    grid-row-gap: 1rem;
    max-height: 300px;
    overflow: auto;
}

.chatbox-message-item {
    width: 90%;
    padding: 1rem;
}

.chatbox-message-item.sent {
    align-self: flex-end;
    background: blue;
    color: #f5fff5;
    border-radius: .75rem 0 .75rem .75rem;
}

.chatbox-message-item.received {
    background: white;
    border-radius: 0 .75rem .75rem .75rem;
    box-shadow: .25rem .25rem 1.5rem rgba( 0, 0, 0, .1);
}

.chatbox-messag-item-time {
    float: right;
    font-size: .75rem;
    margin-top: .5rem;
    display: inline-block;
}

.chatbox-massage-bottom {
    background: rgb(239, 199, 199);
    padding: .75rem 1.rem;
}

.chatbox-massage-form {
    display: flex;
    align-items: center;
    background: rgb(187, 184, 184);
    border-radius: .5rem;
    padding: .8rem 1.75rem;
}

.chatbox-massage-input {
    background: transparent;
    outline: none;
    border: none;
    color: black;
    width: 80%;
    resize: none;
    scrollbar-width: none;
}

.chatbox-massage-input::-webkit-scrollbar {
    display: none;
}

.chatbox-massage-submit {
    font-size: 1.25rem;
    color: blue;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.chatbox-massage-no-message {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}
/*chat box*/


/* breakpoint */
@media screen and (max-width: 576px) {
    .chatbox-massage-wrapper {
        width: calc(100vw - 2rem);
    }
    .chatbox-wrapper {
        bottom: 1rem;
        right: 1rem;
    }
}